*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

button {
  text-align: center;
  color: #fff;
  background-color: var(--gray);
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: var(--smooth);
}

button:hover {
  background-color: var(--green-l);
  transition: var(--smooth);
}
