*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

button {
  text-align: center;
  color: #fff;
  background-color: var(--gray);
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: var(--smooth);
}

button:hover {
  background-color: var(--green-l);
  transition: var(--smooth);
}

:root {
  --green: #54b192;
  --green-l: #a4cec0;
  --gray: #3f3d56;
  --smooth: all 0.3s ease-in;
}

/* === Overlay === */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 4;
  display: none;
}

#overlay.show {
  display: initial;
}

/* === Header === */
header {
  position: absolute;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

/* logo */
.navbar__logo img {
  width: 57px;
  height: 57px;
  object-fit: cover;
}
